[submodule "classes/tcpdf"]
	path = classes/tcpdf
	url = git://tcpdf.git.sourceforge.net/gitroot/tcpdf/tcpdf
[submodule "classes/zend"]
	path = classes/zend
	url = https://github.com/zendframework/zf2.git
